NETWORK_NAME=Titan-testnet-local
RPC_URL=http://127.0.0.1:8545
CHAIN_ID=18887
SYMBOL=TKX
IS_TESTNET=true
SYNDEBUG=true
SECRET_WORDS={YOUR_MNEMONIC}
PRIVATE_KEY={YOUR_PRIVATE_KEY} # Only SECRET_WORDS or PRIVATE_KEY is required
DEBUG=synpress:*
